body
{
    background: linear-gradient(230deg, gray, black);
    display: flex;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.tartalom
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(20deg, rgb(136, 136, 136),rgb(0,0,0));
    padding: 20px;
    border-radius: 30px;

}
